# Virtual Environments
cp2.venv/
venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Large Dataset Files
data/

# Large Models
*.pkl

# Zip Files
*.zip

# Temporary Files
*.tmp